<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Buscar Película
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-toolbar>
  <ion-searchbar animated="true" placeholder="Buscar película" debounce="700"></ion-searchbar>
</ion-toolbar>
<ion-content [fullscreen]="true" class="ion-padding">
  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Ideas</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Avatar 2</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Black Panther: Wakanda Forever</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Black Adam</ion-label>
    </ion-item>
  </ion-list>
</ion-content>